@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        div.mainPanel {
            background-color: #F5F5F5;
            color: #ccc;
            font-size: 48px;
            padding-bottom: 17px;
        }

        div.wrapperPanel {
            text-align: center;
            vertical-align: middle;
        }
    </style>
</head>
<body style="background-color: #F5F5F5;">
    <div >
        <div class="mainPanel" id="pagescrollContent">
            <div class="wrapperPanel" style="margin-top: 20%;">从左侧任务栏</div>
            <div class="wrapperPanel">开启你的工作之旅</div>
        </div>
    </div>
</body>
</html>
