.ViewPregnantBgCss1 { width: 835px;height: 510px; background: url(../images/pregnant_img/ViewPregnantBg1.jpg) no-repeat; }
.ViewPregnantBgCss2 { width: 835px;height: 510px;  background: url(../images/pregnant_img/ViewPregnantBg2.jpg) no-repeat;}
.ViewPregnantBgCss3 { width: 835px;height: 510px; background: url(../images/pregnant_img/ViewPregnantBg3.jpg) no-repeat; }
.ViewPregnantBgCss4 { width: 835px;height: 510px;  background: url(../images/pregnant_img/ViewPregnantBg4.jpg) no-repeat;}
.c_0_0_default{ width: 835px;height: 510px; background: url(../images/pregnant_img/没有数据.jpg) no-repeat; }